<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      lang="en" th:replace="~{page-template :: page-fragment ( ~{::title}, ~{:: #login-static-resources})}">
    <head>
        <title>Login</title>
    </head>

    <th:block id="login-static-resources">
        <script type="text/javascript" th:src="${'/static/'.concat(@manifestResolver.getByAlias('login.js'))}"></script>
    </th:block>


</html>